#playerList {
  margin: 0;
  padding: 0;
  max-height: 20vh;
  overflow-y: auto;
}

#playerList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  width: 100%;
}

#playerList ul li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  width: 100%;
}

#playerList ul li:nth-child(even) {
  display: block;
  color: black;
  background-color: white;
  padding: 8px 16px;
  text-decoration: none;
  width: 100%;
}

#playerList ul li:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}

#chatList {
  margin: 0;
  padding: 0;
  max-height: 35vh;
  overflow-y: auto;
}

#chatList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  width: 100%;
  text-align: left;
}

#chatList ul li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  width: 100%;
}

#chatList ul li:nth-child(even) {
  display: block;
  color: #000;
  background-color: white;
  padding: 8px 16px;
  text-decoration: none;
  width: 100%;
}

.txtMessage {
  width: 100%;
}
